* {
    font-family: sans-serif;
}

body {
    background-color: wheat;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: lightblue;
}